@use "sass:string";

// *==========Global Styles===========
:root {
	--bg-clr-1: 140deg 71% 44%;
	--bg-clr-2: 220deg 100% 80%;
	--text-clr-1: #0b4f6c;
	--transition: all 500ms linear;
	--border-radius: 5px;
	--shadow-for-bg1: 140deg 80% 50%;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: hsl(var(--bg-clr-2));
	width: 100%;
}

img {
	width: 100%;
	object-fit: cover;
	object-position: bottom;
}

a {
	font-weight: bold;
	font-size: 1.25rem;
	text-decoration: none;
	text-transform: capitalize;
}

header {
	width: 100%;
}

// *===========Functions and mixins===========

@function box-shadow($hsl, $layers) {
	$shadow: "";
	$opacity: 0.7;
	@if $layers == 1 {
		$shadow: $shadow + "0.5px 1px 1px hsl(" + $hsl + "/ " + $opacity + " )";
	} @else if $layers == 2 {
		$opacity: 0.33;
		$shadow: "3px 6px 6px hsl(" + $hsl + "/ " + $opacity + ")";
	} @else if $layers == 3 {
		$opacity: 0.2;
		$shadow: ("4px 8px 8px hsl(" + $hsl + "/ " + $opacity + "), ")+
			("8px 16px 16px hsl(" + $hsl + "/ " + $opacity + "), ")+
			("16px 32px 32px hsl(" + $hsl + "/ " + $opacity + ") ");
	}

	@if $layers > 1 {
		$shadow: ("1px 2px 2px hsl(" + $hsl + "/ " + $opacity + "), ")+
			("2px 4px 4px hsl(" + $hsl + "/ " + $opacity + "), ") +
			$shadow;
	}
	@return $shadow;
}

.place--img {
	height: 25vh;
}

#navbar {
	align-items: center;
	background: hsl(var(--bg-clr-1));
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-between;
	padding: 10px;
	width: 100%;

	> ul {
		background: hsl(var(--bg-clr-2));
		border-radius: var(--border-radius);
		display: grid;
		grid-template-columns: repeat(3, max-content);
		list-style: none;
		min-width: max-content;
		padding: 0;
		width: max-content;

		> li {
			background: hsl(var(--bg-clr-2));
			border-radius: var(--border-radius);
			text-align: center;
			padding: 0.25rem 1rem;
			transition: var(--transition);
			width: 100%;

			> a {
				font-size: 0.89rem;
				width: max-content;
			}

			&:hover,
			&:focus,
			&:focus-within {
				box-shadow: unquote($string: box-shadow(var(--shadow-for-bg1), 2));
				transform: scale(1.05);
			}
		}
	}
	color: var(--text-clr-1);
}

@media screen and (max-width: 400px) {
	#navbar {
		justify-content: center;
		text-align: center;

		> ul {
			margin: 0 auto;
			padding: 0;
		}
	}
}

// @debug box-shadow("220deg 100% 80%", 3);
